html{
    /* This image will be displayed fullscreen */
    background:url(../img/background.jpg); repeat center center;

    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;

    /* The Magic */
    background-size:cover;
}
h1, h2, h3, h4, h5, h6 {
        text-align: center;
        margin-bottom:20px;
        color: white;
    }
small {
	color: white;
}
h4 small{
	color: white;
}

textarea
{
     width:100%;
    height:100%;
}

.spacer { 
	margin:0; 
	padding:0; 
	height:50px; 
	
}
.no-border-on-me>thead>tr>th,.no-border-on-me>tbody>tr>th,.no-border-on-me>tfoot>tr>th,.no-border-on-me>thead>tr>td,.no-border-on-me>tbody>tr>td,.no-border-on-me>tfoot>tr>td
	{
	border-top-style: none;
	border-bottom-style: none;
}

.dateerror {
	color: red;
	font-family: Verdana;
	font-size: 8pt;
}

.jumbotron {

	background-color : transparent;

}
.container-fluid {

background-color : transparent;
	
}
body{
	background-color : transparent;
}

.jumbotron label {
	color : white;
}
.white{
   color:white;
}

.semi-transparent-message-box-error{
	background:#FD2B2B;
    -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px;
}
.semi-transparent{
  background:rgba(255,255,255,0.2);
    -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px;

}
.semitransparent{
  background:rgba(255,255,255,0.2);
    -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px;

}
#confirmSection{
	width:95%;
	margin: 0 auto;
}


#messageBox { width: 150px; height: 150px; background: #FFF; border: red dotted 5px; text-align: center; position: fixed; margin-left: -75px; margin-top: -75px; left: 50%; top: 50%; z-index: 20; display: none; } - See more at: http://hungred.com/how-to/tutorial-simple-screen-grey-effect-jquery/#sthash.ShHxZaXY.dpuf

input[placeholder] { width: 100% !important; }

.removetopmargin{
	margin-top:-30px;
}
.text-danger{
	color:#CC0000;
}
.hide_me {
  display: none!important;
}
.box ul{
	  display: table;
    margin: 0 auto;
	 
}
.box ul li{
	margin-bottom: 10px;
	padding-top:4px;
	padding-left:7px;
	text-align: left;
}
.box ul li i{
	padding-bottom: 5px;
	text-align: right;
}
.form-control:focus {
  border-color: #FFFF70;
  box-shadow: inset 0 1px 1px rgba(240, 240, 50, 0.075), 0 0 8px rgba(240, 240, 50, 0.6);
  background-color: #EBEBBC;
}


.select2-container.select2-container-active .select2-choice{
  border-color: #FFFF70;
  box-shadow: inset 0 1px 1px rgba(240, 240, 50, 0.075), 0 0 8px rgba(240, 240, 50, 0.6);
  background-color: #EBEBBC;
}
.overlay-transparent {
    border: 2px solid #333300;
    position:absolute;
    text-align: center;
    top:5%;
    width:0;
    width:50%;
    height:100%;
    padding:10px;
    color: black;
    
    background-color:rgba(242, 242, 167,0.5);
    display:none;
    -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px;
}
@media (max-width: 1024px) {
    .overlay-transparent {
    font-size: 10px;
    
    }
}
.overlay-solid {
    border: 2px solid #333300;
    position:absolute;
    text-align: center;
    top:5%;
    width:0;
    width:70%;
    height:250%;
    padding:10px;
    color: black;
    background-color:rgba(242, 242, 167,1.0);
    display:none;
    -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px;
}
.card:hover .overlay-transparent {
    display:block;
}
.new-employees:hover .overlay-solid {
    display:block;
}
.no-gutter [class*="-5"] {
	padding-left:0;
    padding-right:0;
}
.black .btn-group .active 
{ background-color: red ; color: white; }
.black .container .btn-group  
{ background-color: red ; color: black; }

.ui-datepicker{ z-index: 9999 !important;}
.date-form { margin: 10px; }
label.control-label span { cursor: pointer; }
.row-group{
	display:inline-block;
	!important;
}
.ui-datepicker-trigger{
	display:none;
}
#error-text {
  z-index: 20 !important;
  color: #FFFFFF;
}



@media (max-width: 1024px) {
::-webkit-input-placeholder { font-size: 12px;}
::-moz-placeholder { font-size: 12px; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 12px; } /* ie */
input:-moz-placeholder { font-size: 12px; }
}

