<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<head>
<!--  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>-->
    <noscript>
     <style type="text/css">
        .container {display:none;}
    </style>
    <div class="noscriptmsg">
    You don't have javascript enabled.  You must enable javascript before you can use this site.
    </div>
</noscript> 
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
 
    <!-- Core CSS - Include with every page -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css"
        data-th-href="@{/resources/css/bootstrap.min.css}" />
         
    <link type="text/css" rel="stylesheet" href="../../resources/font-awesome-4.1.0/css/font-awesome.css"
        data-th-href="@{/resources/font-awesome-4.1.0/css/font-awesome.css}" />
 
<link type="text/css" rel="stylesheet"
	href="../../resources/css/overrides.css"
	data-th-href="@{/resources/css/overrides.css}" />
     
    <style>
        .no-border-on-me>thead>tr>th,
        .no-border-on-me>tbody>tr>th,
        .no-border-on-me>tfoot>tr>th,
        .no-border-on-me>thead>tr>td,
        .no-border-on-me>tbody>tr>td,
        .no-border-on-me>tfoot>tr>td
        {
            border-top-style: none;
            border-bottom-style: none;
        }
    </style>
   
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
     
    <title data-th-text="#{login.page.tab.label}">Login Page</title>
</head>
 
<body>

 
    <div class="container-fluid">
        <div class="spacer"></div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-body">
                        <form id="loginForm" name="loginForm" data-th-action="@{/login}" method="post">
                            <fieldset>
                    <legend class="text-info text-center">Please Login</legend>
                    <div data-th-if="${param.error}" class="alert alert-danger">
                        Invalid username and password.
                    </div>
                    <div data-th-if="${logout} and ${logout} != 'You are not authorised to edit this employee'" data-th-text="${logout}" class="alert alert-success">
                        You have been logged out.
                    </div>
                    <div data-th-if="${logout} and ${logout} == 'You are not authorised to edit this employee'" data-th-text="${logout}" class="alert alert-danger">
                        You have been logged out.
                    </div>
                    
                      
                   
                                <div class="form-group">
                                    <label for="username" data-th-text="#{login.page.username.label}" class="text-info">Username</label>
                                    <input class="form-control" placeholder="User ID" type="text" id="username" name="username" maxlength="5" autofocus="autofocus"></input>
                                </div>
                                <div class="form-group">
                                    <label for="password" data-th-text="#{login.page.password.label}" class="text-info">Password</label>
                                    <input class="form-control" placeholder="Password" type="password" id="password" name="password" maxlength="6"></input>
                                </div>
                                <div class="form-actions">
                                    <button id="formsubmit" class="btn btn-lg btn-primary btn-block">Login</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" data-th-src="@{//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js}"></script>    
    

  
   <script type="text/javascript" src="../resources/js/loginjs.js"
        data-th-src="@{/resources/js/loginjs.js}"></script> 
 
</body>
</html>